@import "./reset.css";


@font-face {
    font-family: Sriracha;
    src: url(../fonts/sriracha-regular-webfont.woff)
}

/* * {
    outline: dashed red;
} */


:root {
    --color-light: #ffedd5;
    --color-medium: #f97316;
    --color-dark: #9a3412;
    --color-contrast: rgb(147, 146, 211);
    --color-contrast-dark :rgb(57, 56, 126);
    --color-text-book: white;
    --color-text-header: black;
    --num-book-properties: 4;
    font-family: 'Sriracha', cursive;

    
}

:root.dark {
    --color-light: rgba(0, 0, 0, 0.858);
    --color-medium: rgb(189, 186, 186);
    --color-dark: #ffedd5;
    --color-contrast: rgb(57, 56, 126);
    --color-contrast-dark: rgb(147, 146, 211);
    --color-text-book: black;
    --color-text-header: rgb(241, 230, 230);
}

body {
    position: relative;
    display: grid;
    background-color: var(--color-light);
}

#page-body {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 20fr 1fr;
    
}


#page-body.greyout {
    opacity: 0.5;
    -webkit-animation: fadeOutBackground 1s;
    animation: fadeOutBackground 1s;
}

#title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}

#title-section h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 2px var(--color-dark);
    color: var(--color-text-header)
}

#dark-mode-div {
    position: absolute;
    right: 2vw;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-dark);
    align-self: end;
    padding-left: 5px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

.inactive-switch{
    cursor: default;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-text-book);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round:before {
    border-radius: 50%;
  }


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 4rem;
    padding: 3rem;
    justify-items:  center;
    align-items: center;
    position: relative;
}

.book {
    height: clamp(200px, calc(8rem + 10vh), 300px);
    width: clamp(200px, calc(8rem + 10vw), 300px);
    background-color: var(--color-dark);
    color: var(--color-text-book);
    padding: 1.5rem;
    border-radius: 0.7rem;
    border-left: 0.7rem solid;
    border-color: var(--color-contrast);
    box-shadow: 4px 4px 6px grey;

    font-size: 1.4rem;
}

.book > table,
.book tbody{
    height: 100%;
    width: 100%;
}

.book-table {
    display: grid;
    grid-template-rows: repeat(--num-book-properties, 1fr);
    align-content: space-around;
    /* justify-items: start; */
}

.book-table tr:first-child{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 1px 1px 3px var(--color-contrast);
}

.book-table tr {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1rem;
}


.book-table td {
    padding: 5px;
}

#book-button {
    height: 5rem;
    width: 5rem;
    background-color: var(--color-contrast);
    font-size: 4rem;
    border-radius: 4rem;
    border: outset 3px var(--color-text-header);
    color: var(--color-text-header);
    box-shadow: 2px 2px 4px black;
}

.active-button:hover {
    background-color: var(--color-contrast-dark);
    color: var(--color-text-book);
    cursor: pointer;
}

.active-button:active{
    position: relative;
    left: 2px;
    top: 1px;
    box-shadow: 1px 1px 2px black;
}

body #pop-up{
    background-color: red;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
    opacity: 1;
    height: 300px;
    width: 300px;
}

#pop-up.visible-pop-up {
    display: inline-block;
    -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    ;
    width: 100vw;
    gap: 2vw;
    background-color: var(--color-dark);
    color: var(--color-text-book);
    font-family :  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
}

#github-logo {
    height: 30px;
}


/* animations */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  @-webkit-keyframes fadeInBackground {
    from {opacity: 0.5;}
    to {opacity: 1;}
  }
  
  @keyframes fadeInBackground {
    from {opacity: 0.5;}
    to {opacity: 1 ;}
  }
  @-webkit-keyframes fadeOutBackground {
    from {opacity: 1;}
    to {opacity: 0.5;}
  }
  
  @keyframes fadeOutBackground {
    from {opacity: 1;}
    to {opacity:0.5 ;}
  }