@import "./reset.css";



:root {
    --color-light: #ffedd5;
    --color-medium: #f97316;
    --color-dark: #9a3412;
    --color-contrast: rgb(89, 16, 224);
    --color-text-book: white;
    --color-text-header: black;
    --num-book-properties: 4;
}

:root.dark {
    --color-light: rgba(0, 0, 0, 0.738);
    --color-medium: grey;
    --color-dark: #ffedd5;
    --color-contrast: rgb(89, 16, 224);
    --color-text-book: black;
    --color-text-header: white;
    --num-book-properties: 4;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 20fr 1fr;
    background-color: var(--color-light);
}

/* * {
    outline: dashed red;
} */

#title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#title-section h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--color-text-header)
}

#dark-mode-div {
    position: absolute;
    right: 7vw;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-dark);
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-text-book);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round:before {
    border-radius: 50%;
  }


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
    padding: 3rem;
}

.book {
    height: clamp(200px, calc(8rem + 10vh), 300px);
    width: clamp(200px, calc(8rem + 10vw), 300px);
    background-color: var(--color-dark);
    color: var(--color-text-book);
    padding: 1.5rem;
}

.book > table,
.book tbody{
    height: 100%;
    width: 100%;
}

.book-table {
    display: grid;
    grid-template-rows: repeat(--num-book-properties, 1fr);
    align-content: space-around;
    /* justify-items: start; */
}

.book-table tr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.book-table td {
    padding: 5px;
}


footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    ;
    width: 100vw;
    gap: 1vw;
    background-color: var(--color-dark);
    color: var(--color-text-book);
    font-size: 1.5rem;
}

#github-logo {
    height: 30px;
}