@import "./reset.css";


@font-face {
    font-family: Sriracha;
    src: url(../fonts/sriracha-regular-webfont.woff)
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */

    #dark-mode-div {
        top : 12vh;
    }

    body #pop-up {
        --pop-up-height: calc(var(--book-height) * 1.5);
        --pop-up-width: calc(var(--book-width) * 1.5);
        height: var(--pop-up-height);
        width: var(--pop-up-width);
        background-color: var(--color-light);
        color: var(--color-text-book);
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: none;
        opacity: 1;
    }

    #pop-up.visible-pop-up {
        bottom: -50%;
    }
  }
/* * {
    outline: dashed red;
} */


:root {
    --color-light: #ffedd5;
    --color-medium: #f97316;
    --color-dark: #9a3412;
    --color-contrast: rgb(147, 146, 211);
    --color-contrast-dark: rgb(57, 56, 126);
    --color-text-book: white;
    --color-text-header: black;
    --color-form-fields: var(--color-light);
    --color-form-fields-text: black;
    --num-book-properties: 4;
    font-family: 'Sriracha', cursive;
    --book-height: clamp(220px, calc(8rem + 10vh), 300px);
    --book-width: clamp(220px, calc(8rem + 10vw), 300px);
    --book-padding: 1.2rem;
    --trash-bin-image: url('../images/delete-white.png');
    --read-image: url('../images/read-white.png');
    --not-read-image: url('../images/not-read-white.png');
    --read-background: green;
    --not-read-background: red;
}

:root.dark {
    --color-light: rgba(0, 0, 0, 0.858);
    --color-medium: rgb(189, 186, 186);
    --color-dark: #ffedd5;
    --color-contrast: rgb(57, 56, 126);
    --color-contrast-dark: rgb(147, 146, 211);
    --color-text-book: black;
    --color-text-header: rgb(241, 230, 230);
    --color-form-fields: var(--color-medium);
    --trash-bin-image: url('../images/delete.png');
    --read-image: url('../images/read.png');
    --not-read-image: url('../images/not-read.png')
}

body {
    position: relative;
    display: grid;
    background-color: var(--color-light);
}

#page-body {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 20fr 1fr;
}


#page-body.greyout {
    opacity: 0.5;
    -webkit-animation: fadeOutBackground 1s;
    animation: fadeOutBackground 1s;
}

#title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}

#title-section h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 2px var(--color-dark);
    color: var(--color-text-header)
}

#dark-mode-div {
    position: absolute;
    right: 2vw;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-dark);
    align-self: end;
    padding-left: 5px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    cursor: pointer;
}

.inactive-switch {
    cursor: default;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-text-book);
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 4rem;
    padding: 3rem;
    justify-items: center;
    align-items: center;
    position: relative;
}

.book {
    /* height: var(--book-height); */
    min-height: var(--book-height);
    width: var(--book-width);
    background-color: var(--color-dark);
    color: var(--color-text-book);
    padding: var(--book-padding);
    border-radius: 0.7rem;
    border-left: 0.7rem solid;
    border-color: var(--color-contrast);
    box-shadow: 4px 4px 6px grey;
    font-size: 1.4rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: flex;
    flex-direction: column;
}


.trash-bin {
    background-image: var(--trash-bin-image);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    align-self: flex-end;
}

.trash-bin:hover {
    cursor: pointer;
    animation: shake 0.5s;
}

.image-read {
    background-image: var(--not-read-image);
    background-repeat: no-repeat;
    background-color: var(--not-read-background);
    height: 24px;
    width: 24px;
    border: 1px;
    border-style: dotted;
    border-radius: 0.5rem;
}

.image-read:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 2px var(--not-read-background);
}
.image-read.read-it {
    background-image: var(--read-image);
    background-color: var(--read-background);
}

.image-read.read-it:hover {
    box-shadow: 0 0 1px 2px var(--read-background);
}


.book>table,
.book tbody {
    min-height: var(--book-height);
    height: 100%;
    width: 100%;
}

.book-table {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(--num-book-properties, 1fr);
    align-content: space-around;
    /* justify-items: start; */
}

.book-table tr:first-child {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-shadow: 1px 1px 3px var(--color-contrast);
}

.book-table tr {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1rem;
}


.book-table td {
    padding: 5px;
    min-width: 5rem;
    max-width: calc(var(--book-width) - var(--book-padding));
}



#book-button {
    height: 5rem;
    width: 5rem;
    background-color: var(--color-contrast);
    font-size: 4rem;
    border-radius: 4rem;
    border: outset 3px var(--color-text-header);
    color: var(--color-text-header);
    box-shadow: 2px 2px 4px black;
}

#book-button.active-button:hover {
    background-color: var(--color-contrast-dark);
    color: var(--color-text-book);
    cursor: pointer;
}

.active-button:active {
    position: relative;
    left: 2px;
    top: 1px;
    box-shadow: 1px 1px 2px black;
}

body #pop-up {
    --pop-up-height: calc(var(--book-height) * 1.5);
    --pop-up-width: calc(var(--book-width) * 1.5);
    height: var(--pop-up-height);
    width: var(--pop-up-width);
    background-color: var(--color-dark);
    color: var(--color-text-book);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: none;
    opacity: 1;
}


#pop-up.visible-pop-up {
    display: inline-block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#pop-up form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
    align-items: center;
}

#pop-up input {
    background-color: var(--color-form-fields);
    border: solid 1px var(--color-text-header);
}

#pop-up input[type="text"] {
    width: 90%;
}

#pop-up input:invalid:not(:placeholder-shown) {
    box-shadow: 0 0 5px 5px red;
}

#pop-up form input:not(input[type="checkbox"]) {
    height: 70%;
    border-radius: 0.7rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-form-fields-text);
}

#pop-up input[type="checkbox"] {
    justify-self: start;
    appearance: none;
}

input[type="checkbox"] {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid gray;
    /* Adjusts the position of the checkboxes on the text baseline */
    vertical-align: -2px;
    /* Set here so that Windows' High-Contrast Mode can override */
    color: green;
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.1rem;
    right: 0.7px;
    top: -0.05rem;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
}


#pop-up h1 {
    grid-column: 1 / -1;
    text-align: center;
}


#pages {
    width: 5rem;
}

#add-book-button,
#close-pop-up {
    border-radius: 0.5rem;
    background-color: var(--color-contrast-dark);
    color: var(--color-text-book);
    font-size: 1.2rem;
    font-weight: bold;
    border-style: none;
    box-shadow: 2px 2px 4px black;
}

#add-book-button {
    grid-column: 1 / -1;
    justify-self: center;
    width: 150px;
    padding: 5px;
}

#close-pop-up {
    position: absolute;
    top: 10px;
    right: 15px;
}

#add-book-button:hover,
#close-pop-up:hover {
    background-color: var(--color-contrast);
    color: var(--color-text-header);
    cursor: pointer;
}

#add-book-button:active {
    position: relative;
    left: 2px;
    top: 1px;
    box-shadow: 1px 1px 2px black;
}

#close-pop-up:active {
    top: 11px;
    right: 14px;
    box-shadow: 1px 1px 2px black; 
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100vw;
    gap: 2vw;
    background-color: var(--color-dark);
    color: var(--color-text-book);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
}

#github-logo {
    height: 30px;
}


/* animations */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@-webkit-keyframes fadeInBackground {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInBackground {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOutBackground {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes fadeOutBackground {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes shake {
    0% { transform: translate(1px) rotate(0deg); }
    10% { transform: translate(-1px) rotate(-1deg); }
    20% { transform: translate(-3px) rotate(1deg); }
    30% { transform: translate(3px) rotate(0deg); }
    40% { transform: translate(1px) rotate(1deg); }
    50% { transform: translate(-1px) rotate(-1deg); }
    60% { transform: translate(-3px) rotate(0deg); }
    70% { transform: translate(3px) rotate(-1deg); }
    80% { transform: translate(-1px) rotate(1deg); }
    90% { transform: translate(1px) rotate(0deg); }
    100% { transform: translate(1px) rotate(-1deg); }
  }
